/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.bg_color {
  background-color: #596275;
}

.question_color {
  background-color: #2c2c54;
}

.difficulty_color {
  background-color: #4c7b7b;
}

/* disable highlight on cellphone */
* {
  -webkit-tap-highlight-color: transparent;
}
